<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ranchuanyin.schoolcat.mapper.ReceiveMessagesVoMapper">

    <resultMap id="BaseResultMap" type="com.ranchuanyin.schoolcat.domain.ReceiveMessagesVo">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="toUserId" column="to_user_id" jdbcType="BIGINT"/>
        <result property="fromUserId" column="from_user_id" jdbcType="BIGINT"/>
        <result property="messageDate" column="message_date" jdbcType="TIMESTAMP"/>
        <result property="message" column="message" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,to_user_id,from_user_id,
        message_date,message
    </sql>
</mapper>
